apiVersion: apps/v1
kind: Deployment  # Defines the type of object. Deployments manage Pods.
metadata:
  name: backend-chatbot-deployment   # The unique name of your manager in the cluster.
spec:
  replicas: 2  # The "Desired State": Tells K8s to always keep 2 pods running.
  selector:    # This is how the Manager finds the Pods it is responsible for.
    matchLabels:
      app: chatbot  # This "sticker" is put on every Pod created by this blueprint.
  template:
    metadata:
      labels: # Labels MUST match the selector above.
        app: chatbot   # The Manager looks for any Pod with the label "app: chatbot".
    spec: 
      containers: 
      - name: backend-chatbot
        image: backend-chatbot:latest
        imagePullPolicy: Never  # Forces K8s to look only at local images (built in Minikube).
        resources:
          limits: 
            memory: "200Mi"   # Prevents the container from using more than 200MB of RAM.
        ports:
        - containerPort: 8000 # Documents that the app inside listens on port 8000.
