services:
  chromadb:
    image: chromadb/chroma
    container_name: chromadb
    ports:
      - "8005:8000"
    volumes:
      - chroma_data:/data
    restart: always
  db:
    image: postgres:15-alpine
    container_name: chatbotDb
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports: 
      - "8001:8000"
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
    env_file:
      - .env
    volumes:
      - ./app:/app
    depends_on:
      - db

volumes:
  chroma_data:
  postgres_data:
  
  
  