pandas
seaborn
matplotlib
fastapi
sqlalchemy
pytest
uvicorn
sqlalchemy-utils
python-dotenv
httpx
numpy
psycopg2-binary
jupyter
passlib
argon2_cffi
PyJWT
pytest-mock
pydantic

langchain 
langchain-community 
langchain-core 
pypdf
pymupdf4llm
langchain_text_splitters