pandas
seaborn
matplotlib
fastapi
sqlalchemy
pytest
uvicorn
sqlalchemy-utils
python-dotenv
httpx
numpy
psycopg2-binary
jupyter
passlib
argon2_cffi
PyJWT
pytest-mock
pydantic
langchain
langchain-community
langchain-core
pypdf
langchain_text_splitters
chromadb
langchain-chroma
sentence-transformers
transformers<5.0.0
huggingface-hub<1.0.0,>=0.36.0
