
matplotlib
fastapi
sqlalchemy
pytest
uvicorn
sqlalchemy-utils
python-dotenv
httpx
numpy
psycopg2-binary
jupyter
passlib
argon2_cffi
PyJWT
pytest-mock
pydantic

langchain 
langchain-community 
langchain-core 
pypdf
langchain_text_splitters
chromadb
langchain-chroma
scikit-learn
transformers<5.0.0

sentence-transformers
huggingface-hub<1.0.0,>=0.36.0


rich>=12.4.4,<14
mlflow

pluggy
# pip install -U langchain-huggingface
google-genai
