matplotlib
uvicorn
python-dotenv
httpx
numpy
psycopg2-binary
jupyter

langchain 
langchain-community 
langchain-core 
pypdf
langchain_text_splitters
chromadb
langchain-chroma
scikit-learn
transformers<5.0.0

sentence-transformers
huggingface-hub<1.0.0,>=0.36.0
langchain-community 
httpx
rich>=12.4.4,<14


pluggy
mlflow